@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-bases browsers (chrome, safari and opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and edge */
  scrollbar-width: none; /* firefox */
}
